.list{
    list-style: none;
}
.list button{
    display:flex;
    position:relative;
    z-index:5;
    background: transparent;
    height: 70px;
    width: 120px;
    font-size: 1.5em;
    border: none;
    margin:5px;
}
.list button:hover{
    cursor: pointer;
}

