.App {
  text-align: center;
}
/* HEADER */
.header{
  background-color: #7bcd33;
}
.header h1{
  margin-bottom: 0;
}
.rona-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .rona-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rona-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rona-link {
  color: #61dafb;
}
.game_wrapper{
  padding: 1.5em 1em;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul li{
  margin-bottom: 1em;
}
ul li div{
  height: 10em;
    width: 10em;
    border-radius: 50%;
    display: flex;
    background: #33C3CD;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.intro{
  margin:0;
}